<div class="container">
    <h2 class="text-center text-primary">Foodit</h2>
    <button class="center-block btn btn-success scrapeBtn">Scrape</button>
    <div class="foodItems col-lg-12">

    </div>

    {{!-- {{#each scrape}}
    <div class="row">
        <div class="fooditImage col-sm-2">
            <a href="{{url}}"><img class="img-responsive" src="{{thumbnail}}"></a>
        </div>
        <div class="col-sm-6">
            <div class="fooditBox">
                <h4 class="fooditItem text-success">{{title}}</h4>

            </div>
        </div>
    </div>
    {{/each}} --}}
</div>
